<% include ../../partials/header.ejs %>

<!-- Content goes here -->

<div class="container">

  <div class="row">

    <div class="col-md-offset-5 col-md-10">

        <h1><%= title %></h1>

        <p></p>

      <table class="table table-bordered table-striped table-hover">

        <!-- Header Row-->

        <tr>

          <th class="text-center">Patient ID</th>

          <th class="text-center">Daily Tip</th>

        </tr>



        <!-- Template Row-->

        <% for(let count = 0; count < vitalList.length; count++) { %>

        <tr>

          <td class="text-center"><%= vitalList[count].patientID %></td>

          <td class="text-center"><%= vitalList[count].dailyTip %></td>

        </tr>

        <% } %>

      </table>

    </div>

  </div>

</div>



<% include ../../partials/footer.ejs %>